[submodule "_data/data-playground-base"]
	path = _data/data-playground-base
	url = https://github.com/data-playground/data-playground-base
[submodule "_data/data-playground-data"]
	path = _data/data-playground-data
	url = https://github.com/data-playground/data-playground-base
[submodule "_data/_data/data_playground_data"]
	path = _data/_data/data_playground_data
	url = https://github.com/data-playground/data-playground-data
[submodule "_data/data_playground_data"]
	path = _data/data_playground_data
	url = https://github.com/data-playground/data-playground-data
