.masthead {
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #eee;
}

.masthead__inner-wrap {
    padding: 0.5em;
}

.site-logo img {
    -webkit-transition: none;
    transition: none;
    mix-blend-mode: multiply;
}

.initial-content {
    padding-top: 65px;
}
