.masthead {
    position: fixed;
    z-index: 999;
    width: 100%;
}

.site-logo img {
    -webkit-transition: none;
    transition: none;
    mix-blend-mode: multiply;
}

.initial-content {
    padding-top: 90px;
}
