#tableauEmbed {
  width: 100%;
  height: 100%;
  /*margin-bottom: 75px;*/
}    
	
#tableauEmbed tableau-viz {
  height: 850px;
  /*height: 100%;*/
}

#tableauEmbed #tableauBtn {
  display: flex;
  gap: 2%;
}

#tableauEmbed #tableauBtn button {
  display: flex;
  padding: .275rem .5rem;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#tableauEmbed #tableauBtn button.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

#main {
  padding: 0 !important;
}

#main .sidebar {
  width: 200px !important;
}

#main .sticky {
  top: 3em !important;
}

#main .page {
  width: calc(100% - 200px - 1em) !important;
  padding-right: 200px !important;
}
