---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
        <li>
          <a href="javascript:;" id="All" onclick="filterUsingCategory(this.id)">
            <strong>*Show All Posts*</strong> <span class="taxonomy__count">{{ site.posts.size }}</span>
          </a>
        </li>  
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="javascript:;" id="{{ category[0] }}" onclick="filterUsingCategory(this.id)">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>


          {% for post in site.posts %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>


<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function() {
    let urlParams = new URLSearchParams(window.location.search)
    let selectedCategory = urlParams.get("cat")
    for (p=0; p<= posts.length-1;p++){
        //cats = posts[p].getAttribute("categories");
        posts[p].style.display = 
          (selectedCategory == 'All' || Array.from(posts[p].querySelectorAll('#filter-inputs input.categories')).some(function(e){return e.value === selectedCategory})) 
              ? 'unset' 
              : 'none';
    }
  });

  
  function filterUsingCategory(selectedCategory) {
    let url = new URL(window.location.href);
    url.searchParams.set('cat', selectedCategory);
    window.history.pushState(null, '', url.toString());
    let posts = $(".list__item")
    for (p=0; p<= posts.length-1;p++){
        //cats = posts[p].getAttribute("categories");
        posts[p].style.display = 
          (selectedCategory == 'All' || Array.from(posts[p].querySelectorAll('#filter-inputs input.categories')).some(function(e){return e.value === selectedCategory})) 
              ? 'unset' 
              : 'none';
    }
  }
</script>
