---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
        <li>
          <a href="javascript:;" id="All" onclick="filterUsingCategory(this.id)">
            <strong>*Show All Posts*</strong> <span class="taxonomy__count">{{ site.posts.size }}</span>
          </a>
        </li>  
  {% for lang in site.languages %}
    {% assign lang_posts = site.posts | where: 'language', lang %}
      <li>
        <a href="javascript:;" id="{{ lang }}" onclick="filterUsingCategory(this.id)">
          <strong>{{ lang }}</strong> <span class="taxonomy__count">{{ lang_posts.size }}</span>
        </a>
      </li>
  {% endfor %}
</ul>


          {% for post in site.posts %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}

        <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>


<script type="text/javascript">
  function filterUsingCategory(selectedLanguage) {
    posts = $(".list__item")
    for (p=0; p<= posts.length-1;p++){
        lang = posts[p].getAttribute("language");
        posts[p].style.display = 
          (selectedLanguage == 'All' || Array.from(posts[p].querySelectorAll('#filter-inputs input.languages')).some(function(e){return e.value === selectedLanguage}))
              ? 'unset' 
              : 'none';
    }
  }
</script>
