---
layout: archive
---

{{ content }}

      <script>
      function getURL() {
        let url_str = window.location.href;
        let url_lang = url_str.split("/")[3];
        return url_lang;
      }
        window.onload = getURL;
      </script>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts | where_exp: "item", "item.hidden != true" | group_by_exp: 'post', 'post.date | date: "%Y"' %}
{% for year in postsByYear %}
  <section id="{{ year.name }}" class="taxonomy__section">
    <h2 class="archive__subtitle">{{ year.name }}</h2>
    <div class="entries-{{ entries_layout }}">
      {% for post in year.items %}
        {% assign cat = post.categories %}
        {% if cat contains "en" %}
          {% include archive-single.html type=entries_layout %}
        {% endif %}
      {% endfor %}
    </div>
    <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
  </section>
{% endfor %}
